/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

COMMON

__________________*/

/* ______________

TYPO

__________________*/

/* ______________

HEADER

__________________*/

/* ______________

MAIN

__________________*/

/* ______________

FOOTER

__________________*/