/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

DEBUG

__________________*/

.debug *{
    border: 1px dotted black;
}

/* ______________

COMMON

__________________*/

:root {
    --blue: #0061ff;
    --lblue: #b4d0e7;
    --bordeaux: #61082b;
    --lgray: #f5f5f5;
    --gray: #828282;
  }
  
.button {
    color: white;
    background-color: var(--blue);
    padding: 5px 10px;
    margin: 25px 0;
    text-decoration: none;
    max-width: fit-content;
    max-height: fit-content;
}
.button:hover  {
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

.flex-row {
    display: flex;
    gap: 50px;
}

.flex-col {
    display: flex;
    flex-direction: column;  
}

.full {
    width: 100%;
}

.big {
    width: 60%;
    min-width: 1000px;
    margin: 0 auto;
}

.small {
    width: 50%;
    min-width: 900px;
}

.trisect>* {
    width: calc(100%  / 3);
    flex-wrap: wrap;
}

.bisect>* {
    width: 50%;
    flex-wrap: wrap;
}

/* ______________

TYPO

__________________*/

body *{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
}

h1 {
    font-size: 50px;
    line-height: 70px;
    margin: 30px 0;
}

h2 {
    font-size: 29px;
    line-height: 41px;
    margin: 17px 0;
}

h3 {
    font-size: 26px;
    line-height: 37px;
    margin: 15px 0;
}

h4 {
    font-size: 23px;
    line-height: 32px;
    margin: 14px 0;
}

/* ______________

HEADER

__________________*/

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 80px;
    background-color: white;
}

header nav {
    padding: 0 10px;
    align-items: stretch;
}

header nav>div {
    display: flex;
    align-items: center;
    color: var(--gray);
    padding: 0 20px;
} 

header nav>div:hover {
    border-bottom: 2px solid var(--gray) ;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: inherit;
}

p  {
    margin-bottom: 30px;
}

/* ______________

MAIN

__________________*/

main {

}

main section {
    display: flex;
    justify-content: center;
    margin: 75px 0;
}

section:first-child {
    background-color: var(--lblue);
    padding-top: 80px;
}

.small-col {
    flex-grow: 2;
}

.big-col {
    flex-grow: 1;
}

.fa-arrow-down {
    font-size: 50px;
    padding: 10px 0;
}

#partner-section .small-col{
    align-self: center;
}

/* ______________

FOOTER

__________________*/

footer {

}

