/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ______________

DEBUG

__________________*/

.debug *{
    border: 1px dotted black;
}

/* ______________

COMMON

__________________*/

:root {
    --blue: #0061ff;
    --lblue: #b4d0e7;
    --bordeaux: #61082b;
    --lgray: #f5f5f5;
    --gray: #828282;
  }
  
.button {
    color: white;
    background-color: var(--blue);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.button:hover  {
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;  
}

.full {
    width: 100%;
}

.big {
    width: 60%;
    min-width: 1000px;
}

.small {
    width: 50%;
    min-width: 900px;
}


.trisect>* {
    flex-basis: calc(100%  / 3);
}

.bisect>* {
    flex-basis: 50%;
}

p  {
    padding: 30px 0;
}

ul {
    list-style-type: none;
}

/* ______________

TYPO

__________________*/

body *{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
}

h1 {
    font-size: 75px;
    line-height: 105px;
    font-weight: bold;
    padding: 35px 0;
}

h2 {
    font-size: 29px;
    line-height: 40px;
    padding: 15px 0;
}

h3 {
    font-size: 26px;
    line-height: 36px;
    padding: 13px 0;
}

h4 {
    font-size: 23px;
    line-height: 32px;
    padding: 11px 0;
}
    
h5 {
    font-size: 20px;
    line-height: 28px;
    padding: 10px 0;
}

h6 {
    font-size: 18px;
    line-height: 25px;
    padding: 9px 0;
}

/* ______________

HEADER

__________________*/

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.8);
}

header nav {
    padding: 0 10px;
    justify-content: space-between;
    width: 100%;
}

header nav>ul {   
    display: flex;
    align-items: stretch;
} 

header nav ul>li{
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: var(--gray);
}

header nav ul>li:hover {
    border-bottom: 2px solid var(--gray) ;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* ______________

MAIN

__________________*/

main {

}

main section {
    display: flex;
    justify-content: center;
    margin: 75px 0;
}

.small-col {
    width: 40%;
}

.big-col {
    width: 60%;
}

/* jumbotron section */

#jumbotron {
    background-color: var(--lblue);
    padding-top: 80px;
}

#jumbotron img {
    position: relative;
    top: 30px;
    height: 105%;
    width: 115%;
}

.fa-arrow-down {
    font-size: 50px;
    padding: 5px 0;
}

#jumbotron .flex-row .flexcol {
    justify-content: space-between;

}

/* plans section */

#plans .flex-row {
    margin: 30px 0;
    gap: 50px;
}

#plans .flex-col, #plans .big-col, #plans .small-col {
    padding: 30px;
}

#plans .trisect .flex-col {
    gap: 50px;
}

#plans hr {
    width: 50px;
}

.radio {
    display: flex;
    gap: 10px;
}

.plan .user-offer {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--gray);
    width: 100%;
}

.plan {
    border: 1px solid var(--gray);
}

#plans .plan span {
    padding: 10px 0;
    color: var(--gray);
}

#plans h6 {
    font-weight: bold;
}

#plans .plan ul {
    padding: 30px 0;
}

#plans .plan li {
    display: flex;
    gap: 5px;
    margin: 10px 0;
    font-size: 12px;
}

.blue {
    color: var(--blue);
}

#plans p {
    font-size: 14px;
}

#plans .button {
    width: 100%;
    display: inline-block;
}

/* find partner section */

#partner .button{
    border: 1px solid var(--gray);
    background: none;
    color: var(--gray);
}

#partner .flex-row {
    gap: 50px;
}

/* drop-box info section */

#info-cards .flex-row {
    flex-wrap: wrap;
}

#info-cards .flex-col {
    justify-content: space-evenly;
    padding: 25px;
}

/* companies group section */

#companies .flex-row .bisect {
    flex-wrap: wrap;
    align-items: center;
}

#companies .flex-row .bisect>* {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
}

/* free-trial section */

#free-trial {
    background-color: var(--lblue);
    padding: 100px 0;
}

#free-trial .flex-row {
    justify-content: space-between;
    align-items: center;
}

#free-trial h2 {
    color: var(--bordeaux);
}

#free-trial .button {
    background-color: white;
    border-color: var(--gray);
    color: var(--gray);
}

/* faq section */

#faq .small>* {
    border-bottom: 1px solid var(--gray);
}

#faq .small .expandable {
    justify-content: space-between;
    align-content:center;
    align-items: center;
}

/* ______________

FOOTER

__________________*/

footer {
    background-color: black;
    color: white;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer .flex-row {
    padding: 100px 0;
    justify-content: space-between;
}

footer .flex-col {
    gap: 10px;
}